* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
    background-image: url('https://images.unsplash.com/photo-1580508244245-c446ca981a6b?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
    line-height: 1.6;
    padding: 30px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    margin-right: 20px;
    border: 3px ridge #fff;
}


h1 {
    font-size: 3rem;
    background-color: rgba(254, 230, 237, 0.7);
    border: 3px ridge #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;

}

h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
    flex: 1;

}

main {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border: 3px ridge #fff;
    margin-bottom: 20px;
}

ul {
    list-style: inside square;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px ridge #fff;
    margin-bottom: 20px;
    padding: 10px;
}

ul li {
    padding: 10px 0;
}

ul li a {
    color: #00f;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

.animal-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    border: 3px ridge #fff;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(254, 230, 237, 0.7);
}

footer {
    background-color: rgba(254, 230, 237, 0.7);
    text-align: center;
    padding: 10px;
    border: 3px ridge #fff;
}

@media (max-width: 768px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        text-align: center;
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
        margin: 0;
    }

    .animals {
        background-color: rgba(254, 230, 237, 0.7);
        border: 3px ridge #fff;
        border-radius: 25px;
    }


    .animal-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        border-radius: 0;
        margin: 0;
    }

    .animal-with-title {
        border-bottom: 3px ridge #fff;
    }

    .animal-with-title:last-of-type {
        border-bottom: none;
    }

    .animal-with-title:nth-of-type(odd) {
        color: #140122;
    }

    img {
        margin: 0 auto;
        scale: 0.9;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .animal-section {
        padding: 5px;
    }

    img {
        scale: 0.8;
    }

}